:root {
    --main-bg-color: #133b69;
    --border-color: #02101847;
    --container-width: 500px;
}

body, html {
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
	top: 10px;
	left: 10px;
	width: 300px;
}

.instructions {
    text-align: center;
    padding: 20px;
    background-color: var(--main-bg-color);
    color: white;
    border-radius: 10px;
    margin: 20px;
}

.instructions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.instructions p {
    font-size: 16px;
    line-height: 1.5;
}

body, .drop-zone, .upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-container {
    margin: 60px;
    background: rgb(221, 228, 221);
    border-radius: 25px;
    box-shadow: 30px 30px 30px rgb(40, 39, 39);
}

.drop-zone {
    width: var(--container-width);
    min-height: 200px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.dragged.drop-zone {
    background-color: var(--main-bg-color);
    border: none;
    box-shadow: 15px 15px 15px rgb(87, 81, 81);
}

.icon-container {
    width: 75px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.icon-container img {
    position: absolute;
    transform-origin: bottom;
    transition: transform 150ms ease-in-out;   /* for smooth transition */
}

.icon-container .center {
    width: 100px;
    z-index: 2;
}

.icon-container .left, .icon-container .right {
    width: 70px;
}

.dragged .icon-container .left {
    transform: rotate(-30deg) translateX(-30px) scale(1.1);
}

.dragged .icon-container .right {
    transform: rotate(30deg) translateX(30px) scale(1.1);
}

.dragged .icon-container .center {
    transform: translateY(-5px);
}

.drop-zone .title {
    transition: font-weight color 0.1s ease;
}

/* '.drop-zone.dragged' is a compound or combination selector. It selects elements
   that have both the classes 'drop-zone' and 'dragged' simultaneously. */
.dragged.drop-zone .title {
    font-weight: bold;
    color: white;
}

#fileInput {
    display: none;
}

.progress-container {
    width: var(--container-width);
    height: 70px;    
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
    display: none;
    box-shadow: 10px 10px 15px rgb(87, 81, 81);
}

.progress-container .bg-progress {
    background-color: skyblue;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: width .25s linear;
    position: absolute;
}

.progress-container .inner-container {
    font-weight: bolder;
    margin: 10px 15px;
    position: absolute;
    z-index: 1;
    width: calc(100% - 30px);
}

.percent-container {
    margin: 2px;
    opacity: .5;
}

.progress-bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .25s linear;
}

.sharing-container {
    width: var(--container-width);
    margin-bottom: 20px;
    display: none;
}

p {
    opacity: 0.7;
    text-align: center;
}

.sharing-container .input-container {
    position: relative;
}

.sharing-container .input-container input {
    width: 100%;
    border: 2px dashed var(--border-color);
    border-radius: 6px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgb(202, 214, 202);
    color: #0000008c;
}

.input-container img {
    position: absolute;
    height: 20px;
    width: 30px;
    right: 7px;
    top: 12px;
    background-color: rgb(202, 214, 202);
    cursor: pointer;
}

.email-container form {
    border: 2px solid var(--border-color);
    width: 100%;
    padding: 15px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container, .send-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container label {
    margin: 5px;
    font-size: 18px;
}

.email-container input {
    border: none;
    border-bottom: 2px solid var(--border-color);
    height: 19px;
    font-size: 18px;
    text-align: center;
}

.email-container input:focus {
    outline: none;
}

.email-container .field {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.send-btn-container button {
    font-size: 18px;
    padding: 8px 40px;
    margin-top: 15px;
    background: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
